.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
    min-height: 100vh;
}

.left {
    flex: 1;
    padding: 0px 50px;
}

.heading {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.tag {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}